<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../static/ico/favicon.png">
    <title>BeerRcmmndr</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">


    <link href="../static/css/style.css" rel="stylesheet">

    <!-- styles needed for carousel slider -->
    <link href="../static/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/plugins/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- bxSlider CSS file -->
    <link href="../static/plugins/bxslider/jquery.bxslider.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->
    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script src="../static/js/pace.min.js"></script>


</head>
<body>
<div id="wrapper">
    <div class="header">
    	<nav class="navbar  fixed-top navbar-site navbar-light bg-light navbar-expand-md"
    		 role="navigation">
    		<div class="container">

            <div class="navbar-identity">


    			<a href="/" class="navbar-brand logo logo-title">
					<!-- ADD BEER LOGO HERE -->
    			<!-- <span class="beer-icon"><i class="icon icon-search-1 ln-shadow-logo "></i> -->
    			</span>BEER<span>RCMMNDR </span> </a>


    			<!-- <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggler pull-right"
    					type="button">

    				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>


    			</button> -->


    			<!-- <button
    					class="flag-menu country-flag d-block d-md-none btn btn-secondary hidden pull-right"
    					href="#select-country" data-toggle="modal">	<span class="flag-icon flag-icon-us"></span>  <span class="caret"></span>
    			</button> -->

            </div>



    			<div class="navbar-collapse collapse">
    				<!-- <ul class="nav navbar-nav navbar-left">
    					<li class="flag-menu country-flag tooltipHere hidden-xs nav-item" data-toggle="tooltip"
    						data-placement="bottom" title="Select Country">	<a href="#select-country" data-toggle="modal" class="nav-link">

    						<span class="flag-icon flag-icon-us"></span> <span class="caret"></span>

    					</a>
    					</li>
    				</ul> -->
    				<ul class="nav navbar-nav ml-auto navbar-right">
    
    					<li class="dropdown no-arrow nav-item"><a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">

    						<span>Explore</span> <i class=" icon-down-open-big fa"></i></a>
    						<ul
    								class="dropdown-menu user-menu dropdown-menu-right">
    							<li class="active dropdown-item"><a href="/"><i class="icon-home"></i> Home

    							</a>
    							</li>
    							<li class="dropdown-item"><a href="/themagic"><i class="icon-star-circled"></i> The Magic </a>
    							</li>
    							<li class="dropdown-item" data-toggle="modal" data-target="#exampleModal"><a href="/filter/all/all"><i class="icon-th-thumb"></i> The Top 20 </a>
    							</li>
    							<li class="dropdown-item"><a href="/about"><i class="icon-heart"></i> About Us

    							</a>
    							</li>
    						</ul>
    					</li>
    				</ul>
    			</div>
    			<!--/.nav-collapse -->
    		</div>
    		<!-- /.container-fluid -->
    	</nav>
    </div>

    <div class="intro-inner">
        <div class="about-intro" style="
    background:url(../static/images/background-beer.jpg) no-repeat center;
	background-size:cover;">
            <div class="dtable hw100">
                <div class="dtable-cell hw100">
                    <div class="container text-center">
                        <h1 class="intro-title animated fadeInDown"> About Us </h1>
                    </div>
                </div>
            </div>
        </div>
        <!--/.about-intro -->

    </div>
    <!-- /.intro-inner -->

    <div class="main-container inner-page">
        <div class="container">
            <div class="section-content">
                <div class="row ">
                    <div class="col-xl-12">
                        <h1 class="text-center title-1"> The Team </h1>
                        <hr class="center-block small text-hr">
                    </div>

                    <div class="col-sm-12">
                        <div class="text-content has-lead-para text-left">
							<p class="lead"><strong>Ronessa Acquesta</strong> Ronessa is a gifted programmer and educator, and exhibited strong scraping, scripting, and Pandas 
							skills through the course of the project. She also contributed heavily to the machine learning decisions for the site. Lastly, she loves list comprehension. </p>

                            <p class="lead"><strong>Kristine Adzema</strong> Kristine is highly motivated and experienced IT professional with a proven record of accomplishment in requirements gathering, design, development, testing and maintenance. With more than 12 years experience in meeting or exceeding customer expectations, her knowledge and past experience has centered in the pharmaceutical and consumer goods industries. She is interested in utilizing her newly acquired data science skills (python and pandas) to encourage consumer mindfulness, develop a sustainable future or harness the power of crowdsourcing to achieve the unimaginable! Last but not least, Racer 5 is her favorite IPA!</p>

							<p class="lead"><strong>Jing Gao</strong> Jing is a data rockstar proficient in working with SQL databases, and applied various machine learning 
							throughout the Beer Recommender process to determine the most optimal algorithm.</p>

                            <p class="lead"><strong>Paul Rizzuto</strong> Paul is okay, I guess. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-body">
				 <img class="loading-image" src="https://78.media.tumblr.com/412af9534b4077c48c1ee185664765fc/tumblr_mwmrszUm9m1rjhxazo1_500.gif">
				</div>
			  </div>
			</div>
		  </div>


<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/vendors.min.js"></script>

<!-- include custom script for site  -->
<script src="../static/js/script.js"></script>

</body>
</html>
